node_modules
dist
dev-dist
.DS_Store
*.tsbuildinfo

.designs/
apps/bridge/.local/
apps/mobile/src-tauri/target/

.env

# agent
.claude
.codex
.omc

# changeset
.changeset/*.md
!.changeset/config.json
!**/.changeset/README.md
